<html>
<head>
  <title>Effie</title>
  <link rel="stylesheet" type="stylesheet/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"></link>
</head>
<body>
  <header>
    <div class="container">
    </div>
  </header>

  <div class="container">
    {{ yield }}
  </div>

  <footer>
    <div class="container">
    </div>
  </footer>
</body>
</html>
